# Release:
# - Github release
# - binaries and tarballs
# - homebrew
name: "Release"

# Only a single job with this concurrency can run at any given time
concurrency: release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: "Release"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Fetch all tags
        run: git fetch --force --tags
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Install coscmd
        run: |
          pip install coscmd
          coscmd config -a $TENCENT_SECRET_ID -s $TENCENT_SECRET_KEY -b $BUCKET_ID -r $BUCKET_REGION --retry 5

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release --rm-dist --debug
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_GITHUB_TOKEN }}
          TENCENT_SECRET_ID: ${{ secrets.TENCENT_SECRET_ID }}
          TENCENT_SECRET_KEY: ${{ secrets.TENCENT_SECRET_KEY }}
          BUCKET_ID: dl-1309519128
          BUCKET_REGION: ap-hongkong
